{% load user_groups %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="navbar-header navbar-item mr-5 active border border-light rounded">
                    <a class="navbar-brand nav-link" href="/"><i class='fas fa-home'></i> Home</a>
                </li>
                <!-- if user.group == technician -->
                {% if user.is_authenticated and request.user|has_group:"technicians" %}
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/performQCrun/select_project">Perform QC run</a>
                </li>
                {% endif %}
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/history/projects">History</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link active">----></a>
                </li>
                <li class="mr-3">
                    <a class="nav-link active">Project: <u>{{project_name}}</u></a>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          multiQC
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/history/BAM/{{project_name}}">BAMs</a>
                          <a class="dropdown-item" href="/history/VCF/{{project_name}}">VCFs</a>
                        </div>
                      </li>
            </ul>
            <span class="text-white" style="float: right">User: {{request.user}}, <a href="/user_management/logout/">Logout</a></span>
        </div>
    </nav>
</body>
</html>