{% load user_groups %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="navbar-header navbar-item mr-5 active border border-light rounded">
                    <a class="navbar-brand nav-link" href="/"><i class='fas fa-home'></i> Home</a>
                </li>
                <!-- if user.group == technician -->
                {% if user.is_authenticated and request.user|has_group:"technicians" %}
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/performQCrun/select_project">Perform QC run</a>
                </li> 
                {% endif %}
                <li class="nav-item mr-3">
                    <a class="nav-link" href="/history/projects">History</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link active">----></a>
                </li>
                <li class="mr-3">
                    <a class="nav-link active">Project: <u>{{project_name}}</u></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        VCFs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/history/multiQC/{{project_name}}">MultiQC</a>
                        <a class="dropdown-item" href="/history/BAM/{{project_name}}">BAMs</a>
                    </div>
                </li>
            </ul>
            <span class="text-white" style="float: right">User: {{request.user}}, <a
                    href="/user_management/logout/">Logout</a></span>
        </div>
    </nav>