{% extends 'base_history.html' %} 
{% load static %}
{% block head %}
<title>History</title>
{% endblock %}

{% block body %}
<div class="container well p-4">
  <div class="container user_card p-4">
    <table class="table table-light table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Investigator</th>
          <th scope="col">Project name</th>
          <th scope="col">Date</th>
          <th scope="col">MultiQC</th>
          <th scope="col">BAMS</th>
          <th scope="col">VCFS</th>
        </tr>
      </thead>
      <tbody>
        {% for info_project in info_projects %}
        <tr>
          <th scope="row">{{info_project.4}}</th>
          <td>{{info_project.3}}</td>
          <td>{{info_project.1}} {{info_project.0}} {{info_project.5}} {{info_project.2}}</td>
          <td><a href="/history/multiQC/{{info_project.3}}">multiQC</a></td>
          <td><a href="/history/BAM/{{info_project.3}}">BAMs</a></td>
          <td><a href="/history/VCF/{{info_project.3}}">VCFs</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
