{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{% static 'history/js/control/VCF.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'history/css/base.css' %}">
    <title>VCFS</title>
</head>

<body>
    {% include "history/navbar_vcfs.html" with project_name=project_name %}
    <div class="container well p-4">
        <div class="row">
            <div class="col">
                <div class="container user_card p-4">
                    <div class="col-md-auto mt-0 row">
                        <h4 class="text-white font-weight-bold">list of all non filtered VCF files:</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-white font-weight-bold">Click on each link to download each non
                                            filtered
                                            VCF file:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for nfvcf in nonfilteredvcf_list %}
                                    <tr>
                                        <th>
                                            <a href="{{url_server}}{{project_name}}/vcf/{{nfvcf}}" download>{{nfvcf}}</a>
                                        </th>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container user_card p-4">
                    <div class="col-md-auto mt-0 row">
                        <h4 class="text-white font-weight-bold">list of all filtered VCF files:</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-white font-weight-bold">Click on each link to download each
                                            filtered
                                            VCF file:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for fvcf in filteredvcf_list %}
                                    <tr>
                                        <th>
                                            <a href="{{url_server}}{{project_name}}/vcf/{{fvcf}}" download>{{fvcf}}</a>
                                        </th>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>