{% extends 'base.html' %}
{% load static %}
{% load user_groups %}

{% block head %}
<title>home</title>
{% endblock %}

{% block body %}
<!--  load user_groups -->
<div class="container well">
    <div class="container pt-4">
        <div class="row">
            <!--  if request.user|has_group:"Technicians"  -->
            {% if user.is_authenticated and request.user|has_group:"technicians" %}
            <a href="/performQCrun/select_project">
                <div class="col-md-auto">
                    <div class="d-flex justify-content-center h-100">
                        <div class="user_card">
                            <div class="d-flex justify-content-center text-white">
                                <h3 class="font-weight-bold" id="form-title">Perform QC run</h3>
                            </div>
                            <div class="d-flex justify-content-center form_container">

                                <img class="img-responsive" src="{% static 'projects_manager_app/images/makerun.png' %}"
                                    alt="make run image" width="300px" height="300px">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            
            <a href="/history/projects">
                <div class="col-md-auto">
                    <div class="d-flex justify-content-center h-100">
                        <div class="user_card">
                            <div class="d-flex justify-content-center text-white">
                                <h3 class="font-weight-bold" id="form-title">History</h3>
                            </div>
                            <div class="d-flex justify-content-center form_container">
                                <img class="img-responsive" src="{% static 'projects_manager_app/images/history.png' %}"
                                    alt="history image" width="300px" height="300px">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}