{% load user_groups %}

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-header navbar-item active mr-5 border border-light rounded">
                <a class="navbar-brand nav-link" href="/"><i class='fas fa-home'></i> Home</a>
            </li>
            <!-- if user.group == technician -->
            {% if user.is_authenticated and request.user|has_group:"technicians" %}
            <li class="nav-item">
                <u><a class="nav-link mr-4 text-white" href="/performQCrun/select_project">Perform QC run</a></u>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/history/projects">History</a>
            </li>
        </ul>
        <span class="text-white">User: {{request.user}}, <a href="/user_management/logout/"> Logout</a></span>
    </div>
</nav>