{% extends "base_perform_QC_run.html" %}
{% load static %}
{% load user_groups %}


{% block head %}
<title>Perform QC run</title>
{% endblock %}

{% block body %}
{% if user.is_authenticated and request.user|has_group:"technicians" %}
<span id="str_files_subfiles">{{arr_files_subfiles}}</span>
<div id="form">
    <form action="/performQCrun/loading" method="POST">
        {% csrf_token %}
        <div class="container well p-4">
            <div class="container user_card p-4">
                <div class="row">
                    <div class="col-md-auto">
                        <!-- projects -->
                        <div class="form-inline" id="div_project">
                            <p class="text-white font-weight-bold">Select project:
                                <select class="ml-4 form-control" id="select_project">
                                    {% for project in projects %}
                                    <option value={{forloop.counter0}}>{{project}}</option>
                                    {% endfor %}
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- fastq files -->
                <div class="col-md-auto mt-0 row">
                    <span class="text-white font-weight-bold">Select fastqs:</span>
                </div>
                <div class="row" id="div_fastqs">
                    <div class="col-md-auto">
                        <p class="text-white font-weight-bold">Fastqs unselected:</p>
                        <select id="select_fastq_list" multiple="multiple" class="select_fastq"></select>
                    </div>
                    <div class="col-md-auto text-center mt-5">
                        <p><button class="btn btn-light btn-outline-success" id="btnAdd">Add selected</button></p>
                        <p><button class="btn btn-light btn-outline-success" id="btnSelectAll">Select all</button></p>
                        <p><button class="btn btn-light mt-4 btn-outline-danger" id="btnRemove">Remove selected</button></p>
                        <p><button class="btn btn-light btn-outline-danger" id="btnUnselectAll">Unselect all</button></p>
                    </div>
                    <div class="col-md-auto">
                        <p class="text-white font-weight-bold">Fastqs selected:</p>
                        <select id="select_fastq_list_selected" multiple="multiple" class="select_fastq"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-auto">
                        <div id="div_error_fastqs">
                            <p class="text-danger">There are no .fastq files in this directory</p>
                        </div>
                    </div>
                </div>
                <!-- bed file -->
                <div class="col-md-auto row pt-4 form-inline">
                    <p class="text-white font-weight-bold">Select bed file:
                        <div class="pl-4" id="div_bed">
                            <select class="form-control" id="select_bed_list"></select>
                        </div>
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-auto">
                        <div id="div_error_bed">
                            <p class="text-danger">There are no .bed files in this directory</p>
                        </div>
                    </div>
                </div>
                <!-- genome -->
                <div class="col-md-auto row pt-4 form-inline">
                    <p class="text-white font-weight-bold">Select genome:
                        <div class="pl-4" id="div_genome">
                            <select class="form-control" id="select_genome">
                                <option value="hg19">HG19</option>
                                <!-- <option value="hg38">HG38</option> -->
                            </select>
                        </div>
                    </p>
                </div>
                
                <div class="row pt-4">
                    <div class="col-md-auto">
                        <!-- hided selected options -->
                        <input class="hide_option_selected" id="input_project_selected" type="text" name="sel_project">
                        <input class="hide_option_selected" id="input_fastq_R1_selected" type="text" name="sel_R1_fastqs">
                        <input class="hide_option_selected" id="input_fastq_R2_selected" type="text" name="sel_R2_fastqs">
                        <input class="hide_option_selected" id="input_bed_selected" type="text" name="sel_bed">
                        <input class="hide_option_selected" id="input_genome_selected" type="text" name="sel_genome">
                        <!-- <input class="hide_option_selected" id="input_num_pp_selected" type="text" name="sel_pp"> -->
                        <input class="hide_option_selected" id="input_user_selected" type="text" name="sel_user">
                        <input id="btn_submit" class="btn btn-light btn-outline-primary" type="submit" value="Run fastq analysis">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="loading">
    <div class="container well p-4">
        <div class="container user_card p-4">
            <h1 id="aprox_time"></h1>
            <h1>You will have the results tomorrow</h1>
            <img class="img-responsive" src="{% static 'perform_QC_run/images/loading2.gif' %}" alt="loading">
        </div>
    </div>
</div>
{% else %}
<div class="container well p-4">
    <div class="container user_card p-4">
        <div class="row">
            <h1><strong>YOU DON'T HAVE PERMISSIONS TO SEE THIS CONTENT</strong></h1>
            <img class="img-responsive" src="{% static 'perform_QC_run/images/warning.png' %}" alt="warning"
                width="300px" height="300px">
        </div>
    </div>
</div>
{% endif %}
{% endblock %}